<xml>
	<pushToFtp>
		<enabled>true</enabled>
		<username>test</username>
		<password>test</password>
		<host>test</host>
		<directory>test</directory>
	</pushToFtp>
	<pushToVirtuoso>
		<enabled>true</enabled>
		<username>test</username>
		<password>test</password>
		<host>test</host>
		<directory>test</directory>
	</pushToVirtuoso>
</xml>